.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 0px;
    background: linear-gradient(0.75turn, #274c43, #34665a);
    height: 120px;
}

.header__logo, .header__logo:visited, .header__logo:hover {
    margin-left: 100px;
    color: #f3f3f3;
    font-size: 30pt;
}

.header__nav {
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.header__nav__button, .header__nav__button:visited, .header__nav__button:hover {
    padding: 15px;
    color: #f3f3f3;
    border: solid 2px #f3f3f3;
    border-radius: 5px;
}

.header__nav__button:hover {
    border: solid 2px #e99a0a;
    background-color: #e99a0a;
}

.header__nav__link, .header__nav__link:visited, .header__nav__link:hover {
    padding: 15px;
    color: #f3f3f3;
}

.header__nav__link:hover {
    text-decoration: underline;
}